America

er

## Sequences in python

List of items one after another 

1. Strings - sequence of characters 
2. List - sequence of items (any data type or structure in python)
3. Tuple - sequence of items (immutable)

## Strings

In [7]:
# how to define a string in python / how to make strings in python 

my_str1 = 'America'

In [8]:
my_str2 = "America"

In [9]:
my_str3 = '''America'''

In [10]:
type(my_str1)

str

In [11]:
type(my_str2)

str

In [12]:
type(my_str3)

str

## Operations on Sequence

### Calculating the length of sequence

In [13]:
# using the len() function 

len(my_str1)

7

len() can be used on any sequence

### Slicing or Selection in a Sequence

America -- want to select only "er"

    A m e r i c a 
    0 1 2 3 4 5 6

sytax is 
```
sequence_name[start_index : end_index] 
```

end_index value is not included in the output. The value that is included is `end_index - 1`

```
my_str1[2:4]
```

In [14]:
my_str1[2:4]

'er'

a file is present on the desktop which is named  `python_data.csv`

rename the file to `python_Data.xls`

```
filename = "python_data.csv"
new_filename = filename[0:11] + "xls"
```

C:\Users\Nahom\Desktop\python_data.csv

In [15]:
filename = "python_data.csv"
new_filename = filename[0:11] + "xls"
print(new_filename)

python_dataxls

```
p y t h o n _ d a t a   .   x   l  s
0 1 2 3 4 5 6 7 8 9 10 11  12.  13. 14
```

In [16]:
filename = "python_data.csv"
new_filename = filename[0:12] + "xls"
print(new_filename)

python_data.xls

#### Count from the other side (end)

    A   m   e   r   i  c  a 
    0   1   2   3   4  5  6 
    -7 -6  -5  -4  -3 -2 -1

In [19]:
my_str1[-4:-1]

'ric'

#### What is the end?

from 1 position to another position
```
   sequence_name[start_index : end_index]
```

from 1 position till the end
```
   sequence_name[start_index : ]
```
    
If we don't provide an end_index , the slicing / selection will go till the end.

In [21]:
# we want ica 
my_str1[-3 : ]

'ica'

In [22]:
# we want the last 4 characters
filename = "python_data.csv"
new_filename = filename[-4:] 
print(new_filename)

.csv

In [25]:
# we want to remove the last 4 characters
filename = "python_data.csv"
new_filename = filename[0 : -3 ] + "xls"
print(new_filename)

python_data.xls


First item is index 0 

Last item is index -1 

e.g If you want to remove the last n number of items (use negative index)

If you want to remove the first n number of items (use positive index)

In [26]:
my_str1

'America'

In [27]:
my_str1[2:4]

'er'

In [28]:
# from position 2 till end ["rica]

my_str1[3 : ]

'rica'

### What is the start

from 1 position to another position
```
   sequence_name[start_index : end_index]
```

from start till the position 
```
   sequence_name[ : end_index ]
```
    
If we don't provide a start_index , the slicing / selection will begin from start.

In [30]:
# from America, select till i -- Ameri
my_str1[ : 5]

'Ameri'

### What if we miss both indexes?

In [31]:
my_str1[ : ]

'America'

### Stepping / Skipping

```
A m e r i c a 
```

variable[ start_index : end_index : skip]

variable[ start_index : end_index : 1 ]

1 means don't skip, we want all the items 


variable[ start_index : end_index : 2 ]

2 mean I want every other item or every 2nd item

In [32]:
my_str1[0 : -1 : 1]

'Americ'

In [33]:
my_str1[0 : 1 : 1]

'A'

In [34]:
my_str1[0:1]

'A'

In [35]:
my_str1[0]

'A'

In [36]:
my_str1[0 : 2 : 1]

'Am'

In [37]:

my_str1[0 : 2 ]

'Am'

In [38]:
# A m e r i c a 
my_str1[ 0 : : 2]

'Aeia'

In [39]:
# A m e r i c a 
my_str1[ 0 : : 1]

'America'

In [40]:
# A m e r i c a 
my_str1[ 0 : : 3]

'Ara'

In [41]:
# What if 
# A m e r i c a 
my_str1[ 0 : : -1]

'A'

end index should always be bigger than or equal to start index

In [42]:
my_str1[ 5 : 2]

''

In [43]:
my_str1[ -2 : 2]

''

### Reversing a string

In [44]:
my_str1[::-1]

'aciremA'

## coding bat

In [50]:
def front_back(str):
  '''
  c  o  d  e
  0  1  2  3
  -4 -3 -2 -1
  
  a
  0
  -1
  '''
  
  if len(str) <= 1:
    return str
    
   
  
  first_letter = str[0]
  middle_letters = str[1:-1]
  last_letter = str[-1]

  reverse = last_letter + middle_letters + first_letter
  return reverse

In [46]:
front_back('a')

'a'

In [47]:
front_back('ab')

'ba'

In [48]:
front_back('code')

'eodc'

In [51]:
front_back('')

''