In [1]:
2*3

6

In [2]:
5/4

1.25

Variables are container that keep values. 

In python a variable can contain any type of value unlike other languages. 

# Types of values 

1. Integer 
2. Float / Real values 
3. String

Integer : 
----

full numbers 

or numbers without a decimal point. 

or 

start with 0 and go with increments of 1 or -1 

-5,-3,2,1,0, 65536, 78


Float or real values 
-----

numbers with decimal points 

```
2.5, -35454.98, -27894.0 2344574.0

1. , 35. 
```

Strings
----

sequence of characters 

how to identify them 

they will start with single quote, double quote or triple quote

'nahom'
"ashutosh"
'''This is a python class'''

675 --> integer




35.6 --> float 


'678' --> still a string. Quotations = string

Assignment Operator
----

used to assign values to variables.

syntax is 
```
variable_name = value
```

whenever we write the above statement 

1. A memory is assigned in the RAM where the value is placed. 
2. Then that memory's address is linked to this variable name. 

Whenever we use this variable name, it will go to the memory location and extract the value.

In [3]:
age = 30

In [4]:
print(age)

30

In [ ]:
name = "Nahom"

In [5]:
print(name)

NameError: name 'name' is not defined

In [6]:
name = "Nahom"

In [7]:
print(name)

Nahom

In [8]:
marks = 87.5

In [9]:
print(marks)

87.5

In [10]:
marks

87.5


Given a variable name,

How to know which type of value it contains?

e.g . 


model_type 

```
type(variable_name)
```

In [11]:
# in jupyter the values in the last line of the cell will be printed. 
type(age)

int

In [12]:
type(name)

str

In [13]:
type(marks)

float


Variable is a generic container

C++
---
int age = 30;

python
---
age = 30

In [14]:
age = "Ashutosh"

In [15]:
print(age)

Ashutosh

Statically typed and dynamically typed

Rules for variable names 
----

1. Start with a letter or _ e.g. _name, age . bad example. `24name`
2. Should be one word   `parents name` --> `parents_name`. `parentsName`
3. It can contai alphanumeric characters but always start with alphabet or `_` eg. `name24` , `_age`

Mathematical Operators 
----

+ 

-

*

/

//

**

%

In [16]:
2+3

5

In [17]:
age = 30

In [18]:
age + 5

35

In [19]:
age - 5

25

In [20]:
age * 5

150

In [21]:
age / 5

6.0

In [22]:
age // 5

6

In [23]:
age // 7

4

In [24]:
age ** 5

24300000

In [25]:
# % modulo operator - remaineder operator 
age % 7

2

In [26]:
marks1 = 40
marks2 = 10

In [27]:
marks1 + marks2

50

In [28]:
total_marks = marks1 + marks2

In [29]:
print(total_marks)

50

In [30]:
print(marks1)

40

In [31]:
print(marks2)

10

 Calculate simple interest on 1000$ at a rate of 5% for 3 years ?

In [32]:
principal = 1000
rate = 5
time = 3 

interest = principal * rate * time / 100

print(interest)

150.0

In [33]:
1000*5*3/100

150.0

In [34]:
10000*5*3/100

1500.0


Same operators work on floats also

In [35]:
marks = 80.0

In [36]:

marks + 2

82.0

In [37]:
marks - 2

78.0

In [38]:
marks / 2

40.0

In [39]:
marks * 2

160.0

In [40]:
marks // 2

40.0

In [41]:
80 // 2.0

40.0

In [42]:
2.0 ** 5

32.0

In [43]:
marks % 3

2.0

Mathematical operators on String
-----

In [44]:
name1 = "nahom"
name2 = "ashutosh"

In [45]:
name1 + name2

'nahomashutosh'

In [46]:
name1 - name2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [47]:
name1 * name2

TypeError: can't multiply sequence by non-int of type 'str'

In [48]:
name1 / name2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [49]:
name1 * 5

'nahomnahomnahomnahomnahom'

In [50]:
name1 * 5.0

TypeError: can't multiply sequence by non-int of type 'float'

In [52]:
name1 * 10

'nahomnahomnahomnahomnahomnahomnahomnahomnahomnahom'